<h2>Analytics- Steps</h2>
<div class="container">
  <div class="grid">
    <nb-card accent="primary" class="cell">
      <nb-card-header>
        <div class="wrapper">
          Weekday Breakdown
        </div>
      </nb-card-header>
      <nb-card-body>
        <ngx-charts-bar-vertical
          [view]="view"
          [scheme]="colorScheme"
          [results]="single"
          [legend]="showLegend"
          [gradient]="gradient"
          [xAxis]="showXAxis"
          [yAxis]="showYAxis"
          (select)="onSelect($event)"
        >
        </ngx-charts-bar-vertical>
      </nb-card-body>
      <nb-card-footer>Last Updated: {{ timestamp }} </nb-card-footer>
    </nb-card>
    <nb-card accent="warning" class="cell">
      <nb-card-header
        >Total Steps
        <nb-select [(selected)]="selectedItem" shape="round">
          <nb-option value="0">Week</nb-option>
          <nb-option value="1">Month</nb-option>
          <nb-option value="2">Year</nb-option>
        </nb-select>
      </nb-card-header>
      <nb-card-body>
        <div style="display: inline-block; margin-top:25px">
          <ngx-charts-line-chart
            [view]="view"
            [scheme]="colorScheme"
            [results]="multi"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            [autoScale]="autoScale"
            [timeline]="timeline"
            (select)="onSelect($event)"
          >
          </ngx-charts-line-chart>
        </div>
      </nb-card-body>
      <nb-card-footer>Last Updated: {{ timestamp }} </nb-card-footer>
    </nb-card>
  </div>
</div>

<div class="container" style="margin-bottom:50px;">
  <div class="grid">
    <nb-card accent="primary" class="cell">
      <nb-card-header>Steps Data</nb-card-header>
      <nb-card-body>
        <table [nbTreeGrid]="data" equalColumnsWidth>
          <!-- <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="allColumns"></tr> -->
          <tr
            nbTreeGridRow
            *nbTreeGridRowDef="let row; columns: allColumns"
          ></tr>
          <ng-container
            *ngFor="let column of allColumns"
            [nbTreeGridColumnDef]="column"
          >
            <td nbTreeGridCell *nbTreeGridCellDef="let row">
              {{ row.data[column] }}
            </td>
          </ng-container>
        </table>
      </nb-card-body>
      <nb-card-footer>Last Updated: {{ timestamp }}</nb-card-footer>
    </nb-card>
    <nb-card accent="primary" class="cell">
      <nb-card-header>Activity Logs</nb-card-header>
      <nb-card-body>
        <nb-list
          nbInfiniteList
          [threshold]="500"
          (bottomThreshold)="loadNext(firstCard)"
        >
          <nb-list-item *ngFor="let logPost of firstCard.logs">
            <nb-log-post [post]="logPost"></nb-log-post>
          </nb-list-item>
          <nb-list-item *ngFor="let _ of firstCard.placeholders">
            <!-- <div>&nbsp;</div> -->
            <!-- <nb-news-post-placeholder></nb-news-post-placeholder> -->
          </nb-list-item>
        </nb-list>
      </nb-card-body>
      <nb-card-footer>Last Updated: {{ timestamp }} </nb-card-footer>
    </nb-card>
  </div>
</div>

<!-- <div class="buffer">&nbsp;</div> -->
